* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 10px;
}

.App h1 {
  margin: 2rem 0rem;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  margin: 0.6rem;
}

.divbtn {
  float: left;
}

label {
  margin: 3.7px 0px;
}

.emp {
  margin: 2px;
}

.backbtn {
  background-color: blanchedalmond;
}

.card-title h2 {
  margin: 3.5px 0px 3.5px 14.5px;
}

/* button to save and moving back to listing */
.ctn1,
.form1 {
  padding: 0;
}

.btn1{
  margin-left: 0;
}


.status-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.status-indicator.active {
  background-color: green;
}

.status-indicator.inactive {
  background-color: red;
}
